<footer id="main-footer">
  <div id="media-icons">
    <div class="icon-wrapper">
      <a href="https://www.facebook.com/andres.osante" target="_blank">
        <li><i class="fa fa-facebook-square fa-cog"></i></li>
      </a>
      <a href="https://www.instagram.com/aosanaa/" target="_blank">
        <li><i class="fa fa-instagram"></i></li>
      </a>
      <a href="https://www.linkedin.com/in/andr%C3%A9s-osante-alfaro-845701ba/" target="_blank">
        <li><i class="fa fa-linkedin-square fa-cog"></i></li>
      </a>
      <a href="https://github.com/aosante" target="_blank">
        <li><i class="fa fa-github-square"></i></li>
      </a>
    </div>
  </div>
  <div class="author">By: <span>Andrés Osante</span></div>
</footer>