<div *ngIf="tasks?.length > 0 && !completedState; else noTasks">

  <ul *ngFor="let task of tasks" class="task-list">
    <li class="task" *ngIf="task.completed == false" (dblclick)="completeTask(task)">
      <div class="task-wrapper"><strong>{{task.title}} => </strong>{{task.description}}</div>
      <div>
        <a href="#"><i class="fa fa-check unComplete" (click)="completeTask(task)"></i><i (click)="editTask($event, task)"
            class="fa fa-pencil-square-o unComplete"></i><i (click)="clearState()" class="fa fa-compress unComplete"
            *ngIf="editState && taskEdit.id == task.id"></i></a></div>

      <!-- edit section that's rendered when the edit icon is clicked  -->
      <div class="edit" *ngIf="editState && taskEdit.id == task.id">
        <form (ngSubmit)="updateTask(task)" class="edit-form">
          <div class="container">
            <div class="input-field input1">
              <input class="input" type="text" placeholder="Add title" [(ngModel)]="task.title" name="title">
            </div>
            <div class="input-field input2">
              <input class="input" type="text" placeholder="Add description" [(ngModel)]="task.description" name="description">
            </div>
          </div>
          <button type="submit" class="btn update-btn">Update</button>
          <button class="btn delete-btn" (click)="deleteTask($event, task)">Delete</button>
        </form>
      </div>

    </li>
  </ul>

</div>

<!-- ng-template that is rendered when there's no items in the database -->
<ng-template #noTasks>
  <ul *ngFor="let task of tasks" class="task-list">
    <li class="task" *ngIf="task.completed == true"><strong>{{task.title}} => </strong>{{task.description}} <a href="#"><i
          class="fa fa-trash" (click)="deleteTask($event, task)"></i><i class="fa fa-arrow-left uncheck-task" (click)="unComplete(task)"></i></a></li>
  </ul>
</ng-template>