<div *ngIf="tasks?.length > 0; else noTasks">

  <ul *ngFor="let task of tasks" class="task-list">
    <li class="task" (dblclick)="deleteTask($event, task)"><strong>{{task.title}} => </strong>{{task.description}} <a
        href="#"><i (click)="editTask($event, task)" class="fa fa-pencil-square-o"></i><i (click)="clearState()" class="fa fa-compress"
          *ngIf="editState && taskEdit.id == task.id"></i></a>

         <!-- edit section that's rendered when the edit icon is clicked  -->
      <div class="edit" *ngIf="editState && taskEdit.id == task.id">
        <form (ngSubmit)="updateTask(task)">
          <div class="input-field input1">
            <input class="input" type="text" placeholder="Add title" [(ngModel)]="task.title" name="title">
          </div>
          <div class="input-field input2">
            <input class="input" type="text" placeholder="Add description" [(ngModel)]="task.description" name="description">
          </div>
          <button type="submit" class="btn">Update</button>
          <button class="btn delete-btn" (click)="deleteTask($event, task)">Delete</button>
        </form>
      </div>

    </li>
  </ul>

</div>

<!-- ng-template that is rendered when there's no items in the database -->
<ng-template #noTasks>
  <hr>
  <h4>There are no tasks to list</h4>
</ng-template>