@import 'sass/variables'
@import 'sass/typography'

html  
    margin: 0
    padding: 0
    height: 100%

    body
        height: 100%
        margin: 0
        padding: 0
        background-color: $main
        font-family: $font-family


    *
        box-sizing: border-box 